<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Input Inventory</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">CATEGORY</label>
              <div class="col-md-6">
                <select id="select1" name="select1" class="form-control">
                  <option value="0"></option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">SUB CATEGORY</label>
              <div class="col-md-6">
                <select id="select1" name="select1" class="form-control">
                  <option value="0"></option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">ASSET NAME</label>
              <div class="col-md-6">
                <select id="select1" name="select1" class="form-control">
                  <option value="0"></option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">QUANTITY</label>
              <div class="col-md-3">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                <span class="help-block"></span>
              </div>
            </div>

            
           
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> SAVE</button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
        </div>
      </div>
      
    </div>
  
  </div><!--/.row-->
</div>
