<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>INPUT DOCUMENT CONTROL</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">ID DOCUMENT</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                <span class="help-block"></span>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">DOCUMENT NAME</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">TYPE OF DOCUMENT</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="0"></option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">CATEGORY DOCUMENT</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="0"></option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">DESCRIPTION</label>
              <div class="col-md-9">
                <textarea class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">ATTACHMENT</label>
              <div class="col-md-9">
                <input type="file" id="text-input" name="text-input" class="form-control" placeholder="">
                <span class="help-block"></span>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> SAVE</button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
        </div>
      </div>
      
    </div>
  
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>  
          
          
        </div>
        
        <div class="card-body">
          <div class="col-6">
          
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th></th>
                <th>ATTACHEMENT NAME</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center;">
                  <span class="badge badge-primary">SHOW</span>
                  <span class="badge badge-danger">DELETE</span>
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>
