<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>DETAIL INCIDENT REPORT</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-6 col-form-label" for="hf-email">Status &nbsp;: <i>IR 1</i></label>
            </div>
            
            <div class="form-group row">
              <label class="col-md-6 col-form-label" for="hf-email">Incident Report Date : <i>dd-mm-YYYY</i></label>
            </div>
          
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">ID Incident</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Incident Name</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Type Of Incident</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Description</label>
              <div class="col-md-9">
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Multimedia</label>
              <div class="col-md-9">
                
              </div>
            </div>
          </form>
        </div>
       
      </div>
      <div class="card">
        <div class="card-header">
          <strong>REPORT BY</strong>
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Office Name</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Phone</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Email</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
          </form>
        </div>
       
      </div>
      <div class="card">
        <div class="card-header">
          <strong>PERSON IN CHANGE</strong>
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">PIC Name</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Phone</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Email</label>
              <div class="col-md-9">
                <input type="text" id="hf-email" name="hf-email" class="form-control" placeholder="" autocomplete="email">
              </div>
            </div>
          </form>
        </div>
       
      </div>
      
    </div><!--/.col-->

    <div class="col-md-6">
   
      <div class="card">
        <div class="card-header">
          <strong>Inline</strong> Form
        </div>
        <div class="card-body">
         
        </div>
       
      </div>

      <div class="card">
        <div class="card-header">
          <strong>ACTION</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-inline" >
            <table style="text-align: center;">
              <tr style="text-align: center;">
                <td style="text-align: center;"><button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> FOLLOW UP</button></td>
                <td style="text-align: center;"> <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> CLOSE CASE</button></td>
              </tr>
            </table>
            
          </form>
        </div>
        
      </div>

    </div>
  </div><!--/.row-->
 
</div>
